/* fonts */
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/roboto-regular.woff2) format("woff2"), url(../fonts/roboto-regular.woff) format("woff");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/roboto-medium.woff2) format("woff2"), url(../fonts/roboto-medium.woff) format("woff");
}

/* common */
html {
    font: 400 18px/24px Roboto, Helvetica, Arial, sans-serif;
    height: 100%;
    color: #333;
    background: #fff;
}

body {
    display: flex;
    overflow: hidden;
    align-content: center;
    align-items: center;
    height: 100%;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 18px;
}

p {
    margin: 0;
}

p + p {
    margin-top: 1em;
}

a,
.link {
    cursor: pointer;
    text-decoration: none;
    color: #268cea;
    background: transparent;
}

a:hover,
.link:hover {
    color: #0a6ebd;
}

/* main */
.trainer {
    width: 100%;
    text-align: center;
}

.focus-overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* question */
.shitsumon {
    position: relative;
    box-sizing: border-box;
    width: 300px;
    max-width: 100%;
    height: 300px;
    max-height: 100vw;
    margin-right: auto;
    margin-left: auto;
    background: no-repeat center / contain;
}

.shitsumon.k1 { background-image: url(../img/kanas.svg#k1); }
.shitsumon.k2 { background-image: url(../img/kanas.svg#k2); }
.shitsumon.k3 { background-image: url(../img/kanas.svg#k3); }
.shitsumon.k4 { background-image: url(../img/kanas.svg#k4); }
.shitsumon.k5 { background-image: url(../img/kanas.svg#k5); }
.shitsumon.k6 { background-image: url(../img/kanas.svg#k6); }
.shitsumon.k7 { background-image: url(../img/kanas.svg#k7); }
.shitsumon.k8 { background-image: url(../img/kanas.svg#k8); }
.shitsumon.k9 { background-image: url(../img/kanas.svg#k9); }
.shitsumon.k10 { background-image: url(../img/kanas.svg#k10); }
.shitsumon.k11 { background-image: url(../img/kanas.svg#k11); }
.shitsumon.k12 { background-image: url(../img/kanas.svg#k12); }
.shitsumon.k13 { background-image: url(../img/kanas.svg#k13); }
.shitsumon.k14 { background-image: url(../img/kanas.svg#k14); }
.shitsumon.k15 { background-image: url(../img/kanas.svg#k15); }
.shitsumon.k16 { background-image: url(../img/kanas.svg#k16); }
.shitsumon.k17 { background-image: url(../img/kanas.svg#k17); }
.shitsumon.k18 { background-image: url(../img/kanas.svg#k18); }
.shitsumon.k19 { background-image: url(../img/kanas.svg#k19); }
.shitsumon.k20 { background-image: url(../img/kanas.svg#k20); }
.shitsumon.k21 { background-image: url(../img/kanas.svg#k21); }
.shitsumon.k22 { background-image: url(../img/kanas.svg#k22); }
.shitsumon.k23 { background-image: url(../img/kanas.svg#k23); }
.shitsumon.k24 { background-image: url(../img/kanas.svg#k24); }
.shitsumon.k25 { background-image: url(../img/kanas.svg#k25); }
.shitsumon.k26 { background-image: url(../img/kanas.svg#k26); }
.shitsumon.k27 { background-image: url(../img/kanas.svg#k27); }
.shitsumon.k28 { background-image: url(../img/kanas.svg#k28); }
.shitsumon.k29 { background-image: url(../img/kanas.svg#k29); }
.shitsumon.k30 { background-image: url(../img/kanas.svg#k30); }
.shitsumon.k31 { background-image: url(../img/kanas.svg#k31); }
.shitsumon.k32 { background-image: url(../img/kanas.svg#k32); }
.shitsumon.k33 { background-image: url(../img/kanas.svg#k33); }
.shitsumon.k34 { background-image: url(../img/kanas.svg#k34); }
.shitsumon.k35 { background-image: url(../img/kanas.svg#k35); }
.shitsumon.k36 { background-image: url(../img/kanas.svg#k36); }
.shitsumon.k37 { background-image: url(../img/kanas.svg#k37); }
.shitsumon.k38 { background-image: url(../img/kanas.svg#k38); }
.shitsumon.k39 { background-image: url(../img/kanas.svg#k39); }
.shitsumon.k40 { background-image: url(../img/kanas.svg#k40); }
.shitsumon.k41 { background-image: url(../img/kanas.svg#k41); }
.shitsumon.k42 { background-image: url(../img/kanas.svg#k42); }
.shitsumon.k43 { background-image: url(../img/kanas.svg#k43); }
.shitsumon.k44 { background-image: url(../img/kanas.svg#k44); }
.shitsumon.k45 { background-image: url(../img/kanas.svg#k45); }
.shitsumon.k46 { background-image: url(../img/kanas.svg#k46); }
.shitsumon.k47 { background-image: url(../img/kanas.svg#k47); }
.shitsumon.k48 { background-image: url(../img/kanas.svg#k48); }
.shitsumon.k49 { background-image: url(../img/kanas.svg#k49); }
.shitsumon.k50 { background-image: url(../img/kanas.svg#k50); }
.shitsumon.k51 { background-image: url(../img/kanas.svg#k51); }
.shitsumon.k52 { background-image: url(../img/kanas.svg#k52); }
.shitsumon.k53 { background-image: url(../img/kanas.svg#k53); }
.shitsumon.k54 { background-image: url(../img/kanas.svg#k54); }
.shitsumon.k55 { background-image: url(../img/kanas.svg#k55); }
.shitsumon.k56 { background-image: url(../img/kanas.svg#k56); }
.shitsumon.k57 { background-image: url(../img/kanas.svg#k57); }
.shitsumon.k58 { background-image: url(../img/kanas.svg#k58); }
.shitsumon.k59 { background-image: url(../img/kanas.svg#k59); }
.shitsumon.k60 { background-image: url(../img/kanas.svg#k60); }
.shitsumon.k61 { background-image: url(../img/kanas.svg#k61); }
.shitsumon.k62 { background-image: url(../img/kanas.svg#k62); }
.shitsumon.k63 { background-image: url(../img/kanas.svg#k63); }
.shitsumon.k64 { background-image: url(../img/kanas.svg#k64); }
.shitsumon.k65 { background-image: url(../img/kanas.svg#k65); }
.shitsumon.k66 { background-image: url(../img/kanas.svg#k66); }
.shitsumon.k67 { background-image: url(../img/kanas.svg#k67); }
.shitsumon.k68 { background-image: url(../img/kanas.svg#k68); }
.shitsumon.k69 { background-image: url(../img/kanas.svg#k69); }
.shitsumon.k70 { background-image: url(../img/kanas.svg#k70); }
.shitsumon.k71 { background-image: url(../img/kanas.svg#k71); }

/* animation */
.shitsumon::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
    content: "";
    pointer-events: none;
    opacity: 0;
    border-radius: 50%;
}

.shitsumon.right::after {
    animation: right .4s ease-out forwards;
    box-shadow: inset 0 0 0 20px rgba(117,209,10,0);
}

@keyframes right {
    from {
        transform: scale3d(.4,.4,1);
        opacity: 1;
    }
    80% {
        opacity: .2;
        box-shadow: inset 0 0 0 2px rgba(117,209,10,.8);
    }
    to {
        transform: scale3d(1.2,1.2,1);
        opacity: 0;
        box-shadow: inset 0 0 0 2px rgba(117,209,10,.8);
    }
}

.shitsumon.wrong::after {
    animation: wrong .7s ease-out forwards;
    background: rgba(222,45,42,.1);
}

@keyframes wrong {
    from {
        transform: scale3d(.5,.5,1);
        opacity: 1;
    }
    34% {
        transform: scale3d(1,1,1);
        opacity: 1;
    }
    to {
        transform: scale3d(1,1,1);
        opacity: 0;
    }
}

/* input */
.kotae {
    font: 400 24px/24px Roboto, Helvetica, Arial, sans-serif;
    width: 100px;
    margin-top: 20px;
    padding: 4px;
    transition: all .3s ease;
    text-align: center;
    color: #333;
    border: 0;
    border-bottom: 2px solid rgba(0,0,0,.1);
    outline: none;
}

.kotae.wrong {
    color: #de2d2a;
    border-color: #de2d2a;
}

.kotae:disabled {
    background: transparent;
}

/* tip */
.tip {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    position: absolute;
    z-index: 5;
    right: -84px;
    bottom: 50%;
    display: block;
    box-sizing: border-box;
    width: 84px;
    padding: 1em 1.5em;
    transition: all .3s ease;
    text-align: center;
    border-radius: 1px;
    box-shadow: 0 0 20px rgba(0,0,0,.05);
}

.tip.active {
    right: 0;
}

/* rules */
.rules-link {
    font-size: 16px;
    position: fixed;
    z-index: 9;
    top: 12px;
    left: 20px;
}

.rules-overlay {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.rules-overlay.active {
    display: block;
}

.rules {
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 540px;
    max-width: 100%;
    max-height: 100%;
    padding: 1.5em 2em;
    transition: all .1s ease;
    transform: translate(-50%, -50%);
    color: transparent;
    border-radius: 5px;
    background: rgba(255,255,255,0);
    box-shadow: 0 0 20px rgba(0,0,0,0);
}

.rules.active {
    visibility: visible;
    transition: .3s ease;
    color: #333;
    background: rgba(255,255,255,.95);
    box-shadow: 0 0 20px rgba(0,0,0,.05);
}

.rules .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 52px;
    cursor: pointer;
    transition: .1s ease;
    opacity: 0;
}

.rules .close::before,
.rules .close::after {
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 14px);
    width: 28px;
    height: 2px;
    content: "";
    background: #e5e5e5;
}

.rules .close::before {
    transform: rotate(-45deg);
}

.rules .close::after {
    transform: rotate(45deg);
}

.rules.active .close {
    transition: all .3s ease;
    opacity: 1;
}

/* dakuten */
.dakuten {
    position: fixed;
    z-index: 9;
    top: 0;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: .12;
    background: url(../img/dakuten.svg) no-repeat center / 40px 40px;
}

.dakuten.active {
    opacity: 1;
}

/* win */
.win-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background: rgba(255,255,255,.9);
}

.win-overlay.active {
    display: block;
}

.win {
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 340px;
    max-width: 100%;
    max-height: 100%;
    padding: 2em;
    transition: all .1s ease;
    transform: translate(-50%, -50%);
    text-align: center;
    color: transparent;
    border-radius: 5px;
    background: rgba(255,255,255,0);
    box-shadow: 0 0 20px rgba(0,0,0,0);
}

.win.active {
    visibility: visible;
    transition: .3s ease;
    color: #333;
    background: rgba(255,255,255,.85);
    box-shadow: 0 0 20px rgba(0,0,0,.05);
}

.win:not(.active) .again {
    color: transparent;
}

.win.active .again {
    transition: .3s ease;
}

.win .ya-share2 {
    margin-top: 16px;
}
